#mainNav {
    min-height: 3.5rem;
    padding: 10px;
    box-shadow: red;
  }
  
  nav a, li, label {
    color: white !important;
  }
  
  nav a:hover, nav li:hover{
    opacity: 50% !important;
  }
  
  .container-fluid{
    background-color: #BC2E29 !important;
    border-radius: 20px;
  }

  

  