
html, body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
 
}

.selector-for-some-widget {
    box-sizing: border-box;
}


.myContainer {
  position: relative;
  z-index: 10;
  margin: -10px;
  padding: 0;
}

#map {
  height: 1080px;

}

.containerr {
  position: relative;
  top: -1000px;
  pointer-events: none;
  z-index: 20;
  
  
}


.row {
  padding-right: 20px;
  padding-left: 20px;
}


.card {
  pointer-events: painted;
  margin-top: 10px;
  border-radius: 20px !important;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card-body{
  padding: 0px;
}

/*card 1*/




/*card 2*/

#chartForm {
  
  padding:0px;
}

#searchChart{
  width: 100%;
}


.chart-container {
  
  margin: 0;
  height: 80vh;
  width: 80vw;
}



div btn-group-sm btn-check {
  background-color: cadetblue !important;
}

.col-md-3 {
  text-align: -webkit-center ;
  padding-top: 10px;
  min-width: 300px;
}



@media screen and (max-width: 990px) {
  .containerr{
    top: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 100% !important; /*questo important è da rimuovere...*/
  }

  .card-body{
    width: 100%;
  }
}





