
html, body { 
  margin: 0;
  padding: 0;
 
}

.selector-for-some-widget {
    box-sizing: border-box;
}



.myContainer {
  position: relative;
  z-index: 10;
  margin: -10px;
  padding: 0;
}

#map {
  height: 1080px;

}

.containerr {
  position: relative;
  top: -1000px;
  pointer-events: none;
  z-index: 20;
  
  
}

.layerbutton {
  height: 80px;
  width: 40px;
}



.row {
  padding-right: 20px;
  padding-left: 20px;
}

.timelabel{
  color:  #0d6efd !important;
  font-weight: 200;
}


.card {
  pointer-events: painted;
  margin-top: 10px;
  border-radius: 20px !important;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card-body{
  padding: 10px;
}

#inputdaily {
  cursor:pointer;
}



#chartForm {
  
  padding:0px;
}

#loadingSpinner{
  visibility: hidden;
}

#searchChart{
  width: 100%;
}


.chart-container {
  
  margin: 0;
  height: 80vh;
  width: 80vw;
}



div btn-group-sm btn-check {
  background-color: cadetblue !important;
}

.col-md-3 {
  text-align: -webkit-center ;
  padding-top: 10px;
  min-width: 300px;
}


.info {
  margin-left: 20% !important;
  margin-top: 80px !important;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.info1 {
  margin-left: 20% !important;
  margin-top: 20px !important;
  border-radius: 20px;
  padding: 10px;
  background: #F3EED9;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.btn-default:hover{
  transform: scale(1.2);
  transition: transform .2s;
}

.btn-default{
  padding: 5px !important;
  border-color: red;
}

.btn-default:focus{
  outline: none !important;
  box-shadow: none !important;


}

.layerImages {
  border: 0px solid #000;
  object-fit: cover;
  transition: transform .2s;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}








table {
  width:100%;
  height:100%;
  border-collapse:collapse;
  padding:5px;
}

table th {
  padding:5px;
  column-span: all;
  align-items: center;
  color: #0d6efd;
  text-align: center;
}
table td {
  text-align:center;
  padding:5px;
  background: #ffffff;
  color: #000000;
}



@media screen and (max-width: 990px) {
  .containerr{
    top: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 100% !important; /*questo important è da rimuovere...*/
  }

  .card-body{
    width: 100%;
  }
}
